@import '../base/colors';
.light{
    color: $dark-900;
    background-color: $white;
}
.dark{
    color: $white;
    background-color: $dark-900;
}
.english{
    font-family: 'Courier New', Courier, monospace;
}
.farsi{
    font-family: Vazir-bold;
}