.container{
    margin: 40px;
    margin-top: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.formContainer{
    margin: 20px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.contactWayContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.contactWayContainer div{
    margin: 20px;
    background-color: #2990ff;
    box-shadow: 4px 4px 8px #4c4c4c;
}
.formContainer input{
    height: 30px;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #4c4c4c;
    margin-bottom: 20px;
    background: none;
    // background-color: rgba(255, 255, 0, 0.217);
    transition: all 0.3s ease;
}
.formContainer > label{
    width: fit-content;
    // background-color: blueviolet;
    font-size: 0.7rem;
    position: relative;
    top: -45px;
    left: 5px;
}
.formContainer input:focus{
    border-bottom: 3px solid #4c4c4c;
}
.formContainer input:focus + label{
    top: -69px;
    color: brown;
}
.formContainer input:not(:placeholder-shown) + label{
    top: -69px;
    color: brown;
}
textarea{
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
}
textarea::placeholder{
    font-size: 0.7rem;
}
.formContainer button{
    background-color: #2990ff;
    font-size: 0.8rem;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border: none;
}
.contactWay{

}
@media (max-width: 1200px){

}
@media (max-width: 992px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}