@import '../base/colors';
@import '../assets/font/font.module.css';


.english{
    font-family: Arial, Helvetica, sans-serif;
}
.farsi{
    font-family: 'Vazir-normal';
    font-size: 1.1rem;
    .formContainer > label{
        font-size: 1.1rem;
    }
    textarea::placeholder{
        font-size: 1.1rem;
    }
    .formContainer button{
    font-size: 1rem;
    }
}
.dark{
    background-color: $background;
    color: $color;
    .contactWayContainer div{
        background-color: $dcolor;
        box-shadow: 4px 4px 8px $boxshadow;

    }
    .formContainer button{
        background-color: $dcolor;
        box-shadow: 2px 2px 4px $boxshadow;
    }
    textarea{
        background-color: $background;
    }
    textarea::placeholder{
        color: $color;
    }

}
.container{
    margin: 40px;
    // padding: 40px 0;
    margin-top: 100px;
    text-align: center;
    display: grid;
    transition: all 0.5s ease;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.formContainer{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.contactWayContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.contactWayContainer div{
    height: 90px;
    margin: 20px;
    border-radius: 80px;
    background-color: #2990ff;
    box-shadow: 4px 4px 8px #8d8d8d;
    transition: all 0.2s ease;
}
.contactWayContainer div:hover{
    box-shadow: 4px 4px 8px #6e6e6e;

}
.contactWayContainer a{
    color: #fff;
    text-decoration: none;
}
.formContainer h1{
    margin: 40px 0;
}
.formContainer input{
    height: 30px;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #4c4c4c;
    margin-bottom: 20px;
    background: none;
    transition: all 0.3s ease;
}
.formContainer > label{
    width: fit-content;
    font-size: 1rem;
    position: relative;
    top: -53px;
    left: 5px;
}
.formContainer input:focus{
    border-bottom: 3px solid #4c4c4c;
}
.formContainer input:focus + label{
    top: -80px;
    color: $dcolor;
}
.formContainer input:not(:placeholder-shown) + label{
    top: -69px;
    color: $dcolor;
}
.formContainer button{
    background-color: #2990ff;
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: none;    
    box-shadow: 2px 2px 4px #8d8d8d;
    border-radius: 80px;
    transition: all 0.2s ease;
}
.formContainer button:hover{
    box-shadow: 3px 3px 4px #6e6e6e;

}
textarea{
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
}
textarea::placeholder{
    font-size: 0.9rem;
}
@media (max-width: 576px) {
    .container{
        margin: 40px;
        margin-top: 80px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .contactWayContainer{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .formContainer{
        width: 400px;
    }
}