.english{
    font-family: Arial, Helvetica, sans-serif;    
}
.farsi{
    font-family: 'Vazir-normal'; 
}
.bcakground{
    width: 100%;
    height: 100vh; 
    background: url('../assets/images/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #09e6ff70;
    position: relative;
}
.bcakground::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #3636366d;
    z-index: 1;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.content img{
    width: 170px;
    height: 170px;
    border: 7px solid #ffffff13;
    border-radius: 50%;
    box-sizing: border-box;
}
.name{
    color: #fff;
}
.name span{
    color: #00c3ff;
}
.content p span{
    margin-left: 5px;
    color: #00c3ff;
}
.skill{
    display: flex;
    justify-content: center;
}


.arrow{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 3;
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 1.4s infinite;

}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}