@import '../base/main';

.container{
    // background-color: #3b3b3b78;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;

}
.linkContainer{
    margin-right: 150px;
}
.linkContainer a{
    // font-size: 1.5rem;
    text-decoration: none;
    line-height: 60px;
    margin-left: 40px;
}
.switcherContainer{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    // background-color: #d03434;
    line-height: 60px;
    padding-left: 50px;
}
.english{
    font-family: 'Courier New', Courier, monospace;
}
.farsi{
    font-family: Vazir-bold;
}