@import '../base/main';
@import '../base/colors';

.container{
    background-color: $green-400;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;

}
.linkContainer{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 100px;
    width: 80%;
}
.linkContainer a{
    display: inline-block;
    height: 45px;
    line-height: 60px;
    color: #000;
    font-size: 1.1rem;
    text-decoration: none;
    line-height: 60px;
    margin-left: 60px;
    transition: all 0.25s ease;
    color: $white;
}

.linkContainer a:hover{
   border-bottom: 1px solid $white;
}
.switcherContainer{
    width: 20%;
    // background-color: aqua;
    display: flex;
    // justify-content: space-between;
    line-height: 60px;
    padding-left: 100px;
}
.english{
    font-family: Arial, Helvetica, sans-serif;
}
.farsi{
    font-family: Vazir-bold;
}

@media (max-width: 1200px){
    .container{
        
    }
    .linkContainer{
        padding-right: 50px;
    }
    .switcherContainer{
        padding-left: 50px;
    }
}
@media (max-width: 992px) {
    .linkContainer{
        display: none;
    }
    .switcherContainer{
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}