@import '../base/colors';
@import '../assets/font/font.module.css';

.english{
    font-family: Arial, Helvetica, sans-serif;
    // font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.farsi{
    font-family: 'Vazir-normal';
}
.dark{
    color: $color;
    background-color: $background;
    .item{
        box-shadow: 4px 4px 10px $boxshadow;
        background-color: $item-background;
        color: $item-color;
        a{
            color: $white;
        }
    }
}
.light{
    background-color: $lbackground;
}
.mainContainer{
    margin: 20px;
    margin-top: 80px;
    transition: all 0.5s ease;
    padding-bottom: 50px;
}
.container{
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}
.header{
    text-align: center;
}
.header h1{
    font-size: 3rem;
    display: inline-block;
    margin: 50px 0;
}
.item{
    background-color: $litem-background ;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px $lboxshadow;
}
.item a img{
    width: 250px;
    height: 250px;
    margin-top: 25px;
    transition: all 0.5s ease;
    box-sizing: border-box;
    z-index: 0;
}
.item a{
    text-decoration: none;
    transition: all 0.5s ease;
    position: relative;
}
.item a h4{
    margin-top: 5px;
}
.item p{
    position: relative;
    top: -5px;
}
.item:hover a img{
    width: 240px;
    height: 240px;
}
