@import '../base/colors';
@import '../base/Mixix';

.container{
    background-color: aqua;
    width: 30px;
    height: 30px;
    position: relative;
    line-height: 60px;
    margin-right: 60px;
}
.container button{
    @include button();
    display: none;
}
.container button:nth-child(1){
    background-color: $white;
    top: 10px;
    left: 50px;
 
}
.container button:nth-child(2){
    background-color: $dark-900;
    top: 50px;
    left: 0px;
}
.container button:nth-child(3){
    background-color: $blue-800;
    top: 10px;
    left: -50px;
}
.container:hover button{
    display: initial;
}