@import '../../sass/colors';
@import '../../assets/font/font.module.css';

.farsi{
    font-family: 'Vazir-normal';
    .titleContainer{
        direction: rtl;
    }
}
.container{
    padding: 100px 50px;
    transition: all 0.5s ease;
    padding-bottom: 50px;
}
.titleContainer{
    padding-bottom: 70px;
}
.titleContainer p{
    font-size: 1.5rem;
    color: $color-item;
}
.filterContainer ul{
    // margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.filterContainer ul li{
    margin: 0 10px;
    color: $color-item;
    font-size: 1rem;
}
.filterContainer ul li a{
    text-decoration: none;
    color: $color-item;
}
.imageContainer{
    margin: 0;
}
.imageContainer div{
    margin: 10px 0px;
    width: 450px;
    text-align: center;
}
.imageContainer img{
    padding: 0;
    margin: 0;
    width: 450px;
    height: 400px;
    border: 2px solid $color-item;
    transition: all 0.4s ease;
}
.imageContainer img:hover{
    box-shadow: 4px 4px 8px #a0a0a07d;
}