@import '../../sass/colors';
@import '../../assets/font/font.module.css';

.scroll{
    background-color: $color-item;
    .linkContainer a{
        color: #fff;
    }
    .linkContainer a::after{
        background-color: #fff;
    }
}
.farsi{
    font-family: 'Vazir-normal';
}
.container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 0.4s ease;
    z-index: 200;
}
.linkContainer{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 100px;
    width: 80%;
}
.linkContainer a{
    display: inline-block;
    height: 45px;
    line-height: 60px;
    color: $color-item;
    font-size: 1.1rem;
    text-decoration: none;
    line-height: 60px;
    margin-left: 60px;
    transition: all 0.4s ease;
    position: relative;
}
.linkContainer a::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color-item;
}
.linkContainer a:hover{
    &::after{
        animation: width 0.4s 1 ease;
    }
}
@keyframes width {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.switcherContainer{
    width: 20%;
    display: flex;
    line-height: 60px;
    padding-left: 100px;
}

@media (max-width: 1200px){
    .linkContainer{
        padding-right: 50px;
    }
    .switcherContainer{
        padding-left: 50px;
    }
}
@media (max-width: 992px) {
    .linkContainer{
        display: none;
    }
}