.circle{
    position: fixed;
    z-index: 100;
    width: 50px;
    height: 50px;
    background-color: #00a6ff72;
    border-radius: 50%;
    transition: 0.1s all cubic-bezier(0.5, 0.5, 0.5, 0.8);
}