$white : #ffffff;

$red-400 : #FF8787;
$red-500 : #FF6B6B;
$red-600 : #FA5252;
$red-700 : #F03E3E;
$red-800 : #E03131;

$blue-400: #4DABF7;
$blue-500: #339AF0;
$blue-600: #228BE6;
$blue-700: #1C7ED6;
$blue-800: #1971C2;

$dark-000: #C1C2C5;
$dark-100: #A6A7AB;
$dark-200: #909296;
$dark-300: #5C5F66;
$dark-400: #373A40;
$dark-500: #2C2E33;
$dark-600: #25262B;
$dark-700: #1A1B1E;
$dark-800: #141517;
$dark-900: #101113;

$item1: #0095ff;
$item2: #c300ff;
$item3: #fc5f05;
$item4: #eeff00;
$item5: #04ff00;
$item6: #ff0000;
$item7: #393939;
$item8: #422c04;

$color-item: var(--app-color);


$background : #3b3b3b;
$color : #fff8f8;
$boxshadow : #4c4c4cc9;
$dcolor : #730101;

$item-background : #1b1b1b;
$item-color : #666666;


$lbackground: #93e0fc;
$litem-background : #fff8f8;
$lboxshadow : #8c8c8c;