@import '../../../sass/colors';

.container{
    padding: 50px 0;
}
.container span{
    display: inline-block;
    font-size: 0.8rem;
    color: $color-item;
    margin-bottom: 2rem;
}
.container p{
    margin-top: 2rem;
    text-align: center;
}
.container p a{
    padding: 10px;
    text-decoration: none;
    color: $color-item;
    border: 1px solid $color-item;
    transition: all 0.4s ease;
}
.container p a:hover{
    box-shadow: 4px 4px 8px #a0a0a07d;
}
@media (min-width: 992px) {
    .container{
        width: 900px;
    }
    .item img{
        width: 700px;
        height: 500px;
    }
}